<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaot.blog.dao.ArticleDao">

    <select id="page" resultType="map">
        select * from blog_article ba inner join sys_user su on ba.user_id = su.id
        <if test="pageSize != ''">
            limit ${pageNo},${pageSize}
        </if>
    </select>

    <select id="pageCnt" resultType="int">
        select count(1) from blog_article ba inner join sys_user su on ba.user_id = su.id
    </select>

</mapper>